<?php

$gen_config = require 'config.gen.php';
/* Used to retain the old enable_sso setting */
$settings_php = [
    'p4' => ['sso' => '${enable_sso ? "enabled" : "disabled"}'],
];
$user_config = include 'config.user.php';

if($user_config == false) {
    $user_config = [];
}

return array_replace_recursive($gen_config, $settings_php, $user_config);
