repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: "v8.18.4"
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/bridgecrewio/checkov
    rev: "3.2.201"
    hooks:
      - id: checkov
        args: ["--config-file", ".config/.checkov.yml"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: "v1.89.1"
    hooks:
      - id: terraform_docs
        args:
          - --hook-config=--add-to-existing-file=true
          - --hook-config=--create-file-if-not-exist=false
          - --hook-config=--use-standard-markers=true
      - id: terraform_validate
      - id: terraform_fmt
      - id: terraform_tflint
