site_name: Cloud Game Development Toolkit
site_description: Cloud Game Development Toolkit | Docs
site_author: Amazon Web Services
repo_url: https://github.com/aws-games/cloud-game-development-toolkit
repo_name: aws-games/cloud-game-development-toolkit
site_url: https://aws-games.github.io/cloud-game-development-toolkit/
edit_uri: edit/main/docs/
docs_dir: .
# use_directory_urls: false
# strict: true

theme:
  name: material
  custom_dir: docs/overrides
  icon:
    repo: fontawesome/brands/github
    admonition:
      info: octicons/info-16
  logo: docs/media/logos/aws-logo-white.svg
  favicon: docs/media/logos/favicon.ico
  palette:
    # Palette toggle for automatic mode
    - media: '(prefers-color-scheme)'
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      #primary: black
      #accent: teal
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      #primary: black
      #accent: teal
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode

  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - search.suggest
    - search.highlight
    - search.share
    - navigation.sections
    - navigation.indexes
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.collapse
    - navigation.instant
    - navigation.footer
    - toc.follow
    - toc.sticky
    - emoji_index: twemoji

markdown_extensions:
  - meta
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - attr_list
  - md_in_html
  - def_list
  - tables
  - pymdownx.snippets:
      base_path: '.'
      check_paths: true
      restrict_base_path: false
  - toc:
      permalink: true
      toc_depth: 3
      title: 'On this page'
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: docs/index.md
  - Getting Started: docs/getting-started.md
  - Assets:
      - Overview: docs/assets/index.md
      - Packer Templates:
          - Overview: docs/assets/packer/README.md
          - Build Agents:
              - Linux Build Agents:
                  - assets/packer/build-agents/linux/README.md
              - Windows Build Agent:
                  - assets/packer/build-agents/windows/README.md
          - P4 Server: assets/packer/perforce/p4-server/README.md
          - Virtual Workstations: assets/packer/virtual-workstations/README.md
      - Jenkins Pipelines: assets/jenkins-pipelines/README.md
      - Ansible Playbooks: assets/ansible-playbooks/perforce/p4-server/README.md
      - Dockerfiles:
          - Overview: docs/assets/docker/README.md
          - P4 Broker: assets/docker/perforce/p4-broker/README.md
  - Modules:
      - Overview: modules/README.md
      - Design Standards: modules/DESIGN_STANDARDS.md
      - Perforce: # Section
          - Perforce: # Dropdown
              - Installation & Usage:
                  - modules/perforce/README.md
              - Submodules:
                  - P4 Server:
                      - modules/perforce/modules/p4-server/README.md
                  - P4Auth:
                      - modules/perforce/modules/p4-auth/README.md
                  - P4 Code Review:
                      - modules/perforce/modules/p4-code-review/README.md
                  - P4 Broker:
                      - modules/perforce/modules/p4-broker/README.md
      - TeamCity: # Section
          - TeamCity: # Dropdown
              - Installation and Usage:
                  - modules/teamcity/README.md
      - Jenkins: # Section
          - Jenkins: # Dropdown
              - Installation and Usage:
                  - modules/jenkins/README.md
      - Unreal Engine:
          - Unreal Engine Horde:
              - Installation and Usage:
                  - modules/unreal/horde/README.md
          - Unreal Cloud DDC:
              - DDC Infrastructure:
                  - modules/unreal/unreal-cloud-ddc/unreal-cloud-ddc-infra/README.md
              - DDC Intra-Cluster:
                  - modules/unreal/unreal-cloud-ddc/unreal-cloud-ddc-intra-cluster/README.md
      - Unity:
          - Accelerator:
              - Installation and Usage:
                - modules/unity/accelerator/README.md
          - Licensing Server:
              - Installation and Usage:
                - modules/unity/floating-license-server/README.md
      - VDI:
          - VDI:
              - Installation & Usage:
                  - modules/vdi/README.md
  - Samples:
      - Overview: samples/README.md
      - Simple Build Pipeline: samples/simple-build-pipeline/README.md
      - Unreal Cloud DDC Single Region: samples/unreal-cloud-ddc-single-region/README.md
  - Changelog: docs/changelog.md
  - Security: docs/security.md
  - Contributing: docs/contributing.md
  - Roadmap: https://github.com/orgs/aws-games/projects/1/views/1

plugins:
  - same-dir
  - search
  - git-revision-date
  - offline
  - open-in-new-tab
  - redirects:
      redirect_maps:
        'index.md': 'docs/index.md'

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/aws-games/cloud-game-development-toolkit
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/AWSGameTech
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/awsgametech

extra_css:
  - docs/stylesheets/extra.css
  - docs/stylesheets/themes.css
  - docs/stylesheets/hero.css

copyright: Copyright &copy; 2025 Amazon Web Services
