[Unit]
Description=Run mount_ephemeral.sh script at boot
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/mount_ephemeral.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
