name: Checkov
on:
  pull_request:
      paths:
        - 'modules/**'
        - 'samples/**'
        - '.github/**'
  workflow_dispatch:
permissions:
  contents: read
jobs:
  scan:
    permissions:
      contents: read
      security-events: write
      actions: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd # v12.3077.0
        with:
          output_format: sarif
          output_file_path: results.sarif
          config_file: .config/.checkov.yml
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        if: success() || failure()
        with:
          sarif_file: results.sarif
