name: Checkov
on:
  pull_request:
      paths:
        - 'modules/**'
        - 'samples/**'
        - '.github/**'
  workflow_dispatch:
permissions:
  contents: read
jobs:
  scan:
    permissions:
      contents: read
      security-events: write
      actions: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@05d9f3cd4807c3dea7444d4e60dc44ad57928ab5 # v12.3084.0
        with:
          output_format: sarif
          output_file_path: results.sarif
          config_file: .config/.checkov.yml
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        if: success() || failure()
        with:
          sarif_file: results.sarif
