name: Release Drafter

# PROCESS
#
# 1. Enumerate all PRs in merged state
# 2. Filter out any PR labeled `skip-changelog`
# 3. Updates or creates a new release in Draft mode

on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # create release in draft mode
      pull-requests: write
    steps:
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
