name: Trivy Scan
on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:
permissions:
  contents: read
jobs:
  trivy_scan:
    name: Trivy Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'repo'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          scanners: 'vuln, secret, config'
          severity: 'CRITICAL,HIGH'
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
